<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>count down3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A9C11031DEEE03F0075AA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A9C11171DEEE03F0075AA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A9C11221DEEE03F0075AA61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
